<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>RSC</title>
  <link rel="icon" href="/images/crown.ico" type="image/icon type" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous" />
    
  <link rel="stylesheet" href="/css/styles.css" />
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
    integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
</head>

<body>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
  integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
  crossorigin="anonymous"></script>
  <!--------------NAVIGATION BAR-------------------------------------------------------------------------------------------->

  <div class="container-fluid">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <a class="navbar-brand" href="/"><i class="fas fa-crown icon"></i>Royal Sales Corporation</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto links">
          
          <li class="nav-item unique-link">
             <a class="nav-link" href="/">Home</a> 
            
          </li>
          
          <li class="nav-item unique-link"> 
            <a class="nav-link" href="/about">About Us</a>
          </li>
         
          <li class="nav-item unique-link"> 
            <a class="nav-link" href="/products">Products</a>
          </li>
          
          <li class="nav-item unique-link"> 
            <a class="nav-link" href="/contact">Contact Us</a>
          </li>
        </ul>
      </div>
    </nav>
    