<%- include("partials/header")-%>


<div class="btn-group flex-wrap top-buttons" role="group" aria-label="Basic example">
    <a class="btn btn-info btn-lg sign-in-button" href="/profile" role="button">My Profile</a>
    <a class="btn btn-info btn-lg sign-in-button" href="/order" role="button">My Orders</a>
    <a class="btn btn-info btn-lg sign-in-button" href="/cart" role="button">My Cart</a>
    <a class="btn btn-info btn-lg sign-in-button" href="/register" role="button"><%=login%></a>
</div>


<div class="about-section">
    <h1>About Us</h1>
    <p>Welcome to the official website of Royal Sales Corporation, a leading supplier of welding, safety, measuring
        equipments around the world.</p>
    <p>Established in 1984, we supply our products in all over India as well as other countries mainly Nepal, Bhutan,
        Bangladesh, Srilanka, Myanmar, Maldives, Mauritius, Afghanistan.</p>
</div>

<div class="about-2">
    <p>Our head office is located in New Delhi, India. We have many registered offices in India, Bangladesh and
        Srilanka. We will be adding new countries to
        our list very soon.
    </p>
    <p>
        We are a dedicated team of businessmen, accountants, engineers and our main aim is "Customer Satisfaction".
    </p>
    <p>
        We have supplied our products to various government agencies also.
    </p>
    <p>We have first class logistics facility with nominal charges.</p>
</div>
<div class="about-3">

    <p>You can give us orders by E-mail, Telephone and through our website also.</p>
    <p>We take payments through cheques, online transfers and through foreign exchanges.</p>
    <p>Online payment portal on our website is not available for now.</p>
    <p>We don't accept cash payments. The charges of foreign exchange will be beared by us.</p>
    <br>
    <h5>Once your order is placed, our team will contact you for payment and delivery purposes.</h5>
</div>
<%- include("partials/footer")-%>