<%- include("partials/header")-%> 


<div class="btn-group flex-wrap top-buttons" role="group" aria-label="Basic example">
    <a class="btn btn-info btn-lg sign-in-button" href="/profile" role="button">My Profile</a>
    <a class="btn btn-info btn-lg sign-in-button" href="/order" role="button">My Orders</a>
    <a class="btn btn-info btn-lg sign-in-button" href="/cart" role="button">My Cart</a>
    <a class="btn btn-info btn-lg sign-in-button" href="/register" role="button"><%=login%></a>
</div>
<div class="faq">
    <h1>Frequently Asked Questions</h1>
    <strong>
        1. Do you provide a bill?<br>
    </strong>
    <p>Ans: Yes, a proper bill with GST no. and all the taxes will be provided to you in both online and offline mode.</p><br>
    <strong>
        2. Is there any guarantee on your products?<br>
    </strong>
    <p>Ans. If there is a manufacturing defect, the product can be returned free of cost.</p><br>
    <strong>
        3. How much time it takes to deliver?<br>
    </strong>
    <p>Ans. It depends on the geo-political conditions, logistics company and weather. In India it can take about 7-10 days. Internationally, 
    around 1 month.</p><br>
    <strong>
        4. What are logistics charges?<br>
    </strong>
    <p>Ans. In India, it is Rs. 30/kg. Internationally, it is $1/Kg.</p>


</div>
<div class="contact">
    <p>For any query, feedback, suggestions, </p>
  <p> Please write to us on <em>royalsales@rsc.com</em></p>
  <p>Or call us at +91 XXXXX XXXXX</p>
</div>
<div class="address-contact">
    <h4>Royal Sales Corporation</h4><br>
    <p>Head Office: 3007/1 Sant Nagar, Rani Bagh, New Delhi-110034</p>
    <p>Regd Office: B/123, Lands End, Bandra, Mumbai</p>
    <p>Branch Office: 152, Bangabandhu Road, Dhaka, Bangladesh</p>
    <p>Branch Office: 234/5, Tamil Eelam, Columbo, Srilanka</p>
</div>

<%- include("partials/footer")-%> 